@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}


body {
	width: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

h1, h2 h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
}

#myCanvas {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	border: 1px solid #d9d9d9;
}

@supports(object-fit: cover){
    #myCanvas{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

/*
a {
	outline: none;
  	text-decoration: none;
  	padding: 2px 1px 0;
	text-shadow: 1px 1px 3px #333;
	margin-left: 90%;
	-webkit-text-stroke: 2px #CD0E0E;
	text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
	-webkit-text-stroke: 2px #CD0E0E;
}

a:hover {
	text-shadow: 2px 2px 4px #F54F4F;
}
*/
/* -------------- Estilos Header ------------- */
.header {
	width: 100%;
	height: 80px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 1px 1px 3px #333;
}

.nombreMedico > h4 {
    position: fixed;
    margin-left: 25%;
    top: 0;
    color: black;
    margin-top: 25%;
    text-shadow: 0 0 black;
    font-weight: bolder;
}

.nombreMedico > h5 {
    position: fixed;
    margin-left: 25%;
    top: 0;
    color: black;
    margin-top: 25%;
    text-shadow: 0 0 black;
    font-weight: bolder;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    max-block-size: fit-content;
}

.icon-photo{
	margin-top: 40px;
}

.bannerImg {
	width: 40%;
	height: 45%;
	position: absolute;
}

/*-------------------- Estilos banner -------------- */
.banner {
	width: 100%;
	margin-top: 80px;
	position: relative;
	z-index: 100%;
	margin-bottom: 10px;
	padding-right: 5px;
}

/*------------------- Estilos de info -------------- */
.infoColumna {
	background: #fff;
	color: #333;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	text-shadow: 1px 1px 3px #333;
}

#canvas{
	border:1px solid #d9d9d9;
	width: 100%; 
	height: 100%;
}


/*--------------- Estilo login ------------ */
.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    width: 75%;
}
.login >h2{
	font-size: x-large;
}


.registro{
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	width: 50%;
}

.nuevoP{
	margin-top: 90px;
	text-align: center;
}

.listaPacientes{
	margin-right: auto;
	margin-left: 10%;
}

.login > p {
    text-align: center;
    inline-size: min-content;
    justify-items: center;
    display: inline-flex;
    align-content: center;
    margin-left: 10%;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.registro > p{
	text-align: center;
    inline-size: min-content;
    justify-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
}

/* ------------------ Estilos de footer ------- */
.footer{
	background: #333;
	color: #fff;
	padding: 5px;
	text-align: center;
	bottom: 0;
	max-height: 100%;
  	position: fixed;
}


/* ---------- Formato imagenes --------------- */
.contendor{
	margin-top: 10px;

}
.main .contenedor {
	margin-top: 25%;
	width: 70%;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}


.botones {
    /* margin-left: 40%; */
    /* margin-right: 40%; */
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 0;
    justify-content: space-around;
    margin-bottom: 30%;
}

.botonesP {
    /* margin-left: 40%; */
    /* margin-right: 40%; */
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 0;
    justify-content: space-around;
}

table {
   width:100%;
}
thead {
   display: none;
}
tr:nth-of-type(2n) {
   background-color: inherit;
}
tr td:first-child {
   background: #f0f0f0;
   font-weight:bold;
   font-size:1.3em;
}
tbody td {
   display: block;
   text-align:center;
}
tbody td:before {
   content: attr(data-th);
   display: block;
   text-align:center;
}

.image-take > input{
    display: none;
}
.image-take img{
	width: 100%;
	box-shadow: 2px 2px 3px #333;
	margin-left: auto;
  	margin-right: auto;
}

.image-upload > input{
    display: none;
}
.image-upload img{
	box-shadow: 2px 2px 3px #333;
	margin-left: auto;
  	margin-right: auto;
    /*padding-left: 5vw;
    padding-right: 5vw;
    width: 80vh 80vw;
    cursor: pointer;*/
}

.atras{
    margin-top: 17%;
    text-align-last: end;
    margin-bottom: 0;
    width: 15%;
	background: #C7C7C7;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 1px 1px 3px #333;
}

#cabeceraP{
	font-size: 23px;
}


.salir {
    margin-top: 0;
    text-align-last: end;
    margin-bottom: 0;
    width: 15%;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    display: contents;
    z-index: 105;
    box-shadow: 1px 1px 3px #333;
}
.btn-primary{
}

.registro > p {
    /* text-align: center; */
    /* inline-size: min-content; */
    /* justify-items: center; */
    /* display: inline-flex; */
    /* margin-left: 20%; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    /* align-content: center; */
    /* align-items: center; */
}

.atrasBtn{
	display:none;
}

.btnSalir{
	margin-left: auto;
}

.image-download > input{
    display: none;
}

.image-download h1{
	box-shadow: 2px 2px 3px #333;
}

.image-return > input{
    display: none;
}

.image-return h1{
	box-shadow: 2px 2px 3px #333;
}

.infoTitulo {
	font-size: 20px;
}

.btnPaciente{
	margin-inline-end: 10%;
}

.btnPaciente > input{
	display: none;
}

.btnPaciente h1 {
	box-shadow: 2px 2px 3px #333;	
}

.image-nuevo > input{
    display: none;
}
.image-nuevo img{
	width: 20%;
	box-shadow: 2px 2px 3px #333;
	margin-left: auto;
  	margin-right: auto;
    /*padding-left: 5vw;
    padding-right: 5vw;
    width: 80vh 80vw;
    cursor: pointer;*/
}

.li-jugadores{
	margin-left: auto;
	margin-right: auto;
}

.a-jugadores{
	margin-left: auto;
	margin-right: 10%;
}

.center{
	margin-left: 40%;
}

.tableListaP{
	/*width:100%*/
	white-space:nowrap;
	border-style: none;
	text-align: center;
}

.tableListaP td{
	/*width: 25%;*/
}

.tableListaA{
	white-space: nowrap;
	border-style: none;
	text-align: center;
}

.tableListaA td{
}

a {
	color: black;
	outline: none;
  	text-decoration: none;
  	padding: 2px 1px 0;
	margin-left: 90%;
	text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
	-webkit-text-stroke: 0.5px black;
}
/*
a:hover {
	text-shadow: 2px 2px 4px blue;
}
*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
}

.h4, h4 {
    font-size: 18px;
    color: black;
    font-weight: lighter;
}

/*
.resultado {
	width:50%; 
	height:80%; 
	margin:0 auto;
}
*/
.resultado {
	max-width: 100%;
	height: auto;
	margin:0 auto;
}
/*
.modal-contenido{
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  border-radius: 10%;
  border: 1px solid #d9d9d9;
  box-shadow: 3px 3px 3px #333;
}

.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}

.main .contenedor .resultado {
	/*width: 50%;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 10px;
}

.text{
	width: 100vh;
    text-overflow: ellipsis;
    white-space: pre;
	padding-left: 5vw;
	padding-right: 5vw;
    padding-top: 5vh;
}
*/
/*----------------- Estilos responsive -------- */
@media (min-width: 195px) and (max-width: 326px){
	.header{
		height: 120px;
	}
	.banner {
		margin-top: 100px;
	}

	.bannerImg {
		width: 60%;
		height: 30%;
	}

	.infoColumna {
  		text-align: center;
	}

	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}

@media (min-width: 326px) and (max-width: 480px){
	.icon-photo {
		font-size: 30px;
	}
	.banner {
		height: 90px;
	}
	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}

@media (min-width: 480px) and (max-width: 768px){
	.icon-photo {
		font-size: 40px;
		margin-top: 55px;
	}
	.header {
		height: 110px;
	}
	.banner {
		margin-top: 90px;
		margin-right: 10px;
	}
	.infoColumna{
		display: inline-block;
		width: 35%;
	}
	.infoTitulo{
		font-size: 27px;
		margin: 5px 0;
		display: flex;
	}

	.main .contenedor {
		width: 100%;
		margin-top: 120px;
		margin-left: auto;
  		margin-right: auto;
	}

	.login{
		margin-top: 120px;
		width: 50%;
	}

	.bannerImg{
		width: 40%;
		height: 45%;
	}

	.image-upload {
		margin-left: 20px;
	}

	.image-take{
  		margin-right: 20px;
	}
	.contenedor {
		margin-left: auto;
  		margin-right: auto;
  		text-align: center;
	}
	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}

@media(min-width: 768px) and (max-width: 1024px) {
	.icon-photo {
		margin-top: 60px;
		font-size: 40px;
	}

	.infoColumna{
		display: inline-block;
		width: 35%;
	}
	.header {
		height: 120px;
	}

	.banner {
		margin-top: 100px;
	}

	.main .contenedor {
		margin-top: 140px;
		width: 100%;
		margin-left: auto;
  		margin-right: auto;
	}

	.login{
		margin-top: 120px;
		width: 50%;
	}

	.bannerImg{
		width: 25%;
		height: 45%;
	}

	.image-take {
		margin-right: 40px;
	}

	.image-upload {
		margin-left: 40px;
	}
	.contenedor {
		margin-left: auto;
  		margin-right: auto;
  		text-align: center;
	}
	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}

@media(min-width: 1024px) and (max-width: 2048px) {
	.icon-photo {
		margin-top: 60px;
		font-size: 40px;
	}

	.bannerImg{
		width: 15%;
		height: 50%;
	}

	.header {
		height: 110px;
	}

	.banner {
		margin-top: 110px;
	}

	.infoColumna{
		display: inline-block;
		width: 35%;
	}

	.main .contenedor {
		margin-top: 130px;
		width: 100%;
		margin-left: auto;
  		margin-right: auto;
	}

	.login{
		margin-top: 130px;
		width: 50%;
	}

	.image-take {
		margin-right: 60px;
	}

	.image-upload {
		margin-left: 60px;
	}
	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}


@media (min-width: 2048px){
	.icon-photo {
		margin-top: 80px;
		font-size: 50px;
		text-align: center;
	}

	.header {
		height: 150px;
	}

	.bannerImg {
		width: 15%;
		height: 50%;
	}

	.main .contenedor {
		margin-top: 160px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.login{
		margin-top: 160px;
		width: 50%;
	}

	.infoColumna{
		display: inline-block;
		
	}

	.image-take {
		margin-right: 80px;
		width: 80%;
	}

	.image-upload {
		margin-left: 80px;
	}
	.resultado {
		max-width: 100%;
		height: auto;
		margin:0 auto;
	}
}